<div class="header">
    <ul class="mx-32 d-flex justify-content-between align-items-center">
        <li class="d-flex justify-content-around align-items-center">
            <h2>Assignment</h2>
            <p class="me-9">All Courses</p>
            <div>
                <a href="#">
                  <span class="text-success material-icons">expand_more</span></a>
            </div>
        </li>
        <li class="d-flex justify-content-around align-items-center">
            <div class="icon">
                <a href="#">
                    <span class="text-dark material-symbols-outlined">
                    search
                    </span></a>
            </div>
            <div>
                <a href="#">
                    <span class="text-dark material-symbols-outlined">
                    notifications_active
                    </span></a>
            </div>
        </li>
    </ul>
    <ul class="mx-32 d-flex justify-content-between align-items-center">
        <li class="d-flex">
            <p class="me-9">All (4)</p>
            <div>
                <a href="#">
                  <span class="text-success material-icons">expand_more</span></a>
            </div>
        </li>
        <li class="fs-6">2 comments</li>
    </ul>
</div>



