<div class="mx-5">
    <ul class="border-bottom border-2 py-3 list-inline d-flex justify-content-between align-items-center">
        <li>
            <p class="fs-6">Chapter Assignment 2 / HTML&CSS</p>
            <h3 class="fs-5">Please check this file for me, thanks!</h3>
        </li>
        <li class="icons">
            <a href="#">
                <span class="material-icons">more_vert</span></a>
        </li>
    </ul>
    <ul class="list-inline">
        <li class="pt-3 ps-3 d-flex justify-content-center align-items-start">
            <img class="me-2 rounded-circle" src="../assets/images/emilywang.jpeg" width="40" height="40" alt="emilywang">
            <ul class="list-inline">
                <li>
                    <h3 class="fs-4">Emily Wang</h3>
                    <p class="fs-6 my-3 text-muted"><time>10:38 AM</time>(4 hours ago)</p>
                    <p class="title-1 pe-5">Hi Teacher, the attached file is my homework of chapter 
                        2. And here comes a question: Why in the following code the 
                        height of the <a class="fw-bold text-success" href="#">div</a> 
                        is bigger than the height of the <a class="fw-bold text-success" href="#">img</a> ? 
                        There is a gap below the image, but it doesn，t 
                        seems to be a padding/margin.<br>
                        What is the gap or extra space below image?</p>
                </li>
                <li class="title-2 d-flex align-items-center border border-2">
                    <span class="m-8 my-3 material-symbols-outlined">attach_file</span>
                    <a class="fw-bold fs-6" href="#">HW-2-David.zip</a>
                </li>
            </ul>
        </li>
        <li class="border-bottom border-2 mx-5 m-14"></li>
    </ul>
</div>