<div>
    <ul>
        <li>
            <p>Chapter Assignment 2 / HTML&CSS</p>
            <h3>Please check this file for me, thanks!</h3>
        </li>
        <li>
            <a href="#">
                <span class="material-symbols-outlined">
                arrow_downward
                </span></a>
        </li>
    </ul>
    <ul>
        <li>
            <img src="../scss/layout/emilywang.jpeg" alt="emilywang">
            <ul>
                <li>
                    <h3>Emily Wang</h3>
                    <p><time>10:38 AM</time>(4 hours ago)</p>
                    <p>Hi Teacher, the attached file is my homework of chapter 
                        2. And here comes a question: Why in the following code the 
                        height of the <a href="#">div</a> is bigger than the height of the <a href="#">img</a> ? 
                        There is a gap below the image, but it doesn’t 
                        seems to be a padding/margin.<br>
                        What is the gap or extra space below image?</p>
                </li>
                <li>
                    <span class="material-symbols-outlined">
                        arrow_downward
                        </span>
                    <a href="#">HW-2-David.zip</a>
                </li>
            </ul>
        </li>
        <li></li>
    </ul>
</div>